<div id="how-it-works-view">

	<h1>o nas</h1>

	<p>
		Projekt Sejmotrendów powstał podczas <a href="https://ceehack.org/">Open Data Hackathonu</a> w 2014 roku w Warszawie. Udało się nam nawet zdobyć tam 3. miejsce za działjacy prototyp aplikacji i obiecujące rokowania na przyszłość. W wolnych chwilach bujaliśmy się po warszawskich kawiarniach i <a href="https://github.com/tgrez/sejm-ngram">commitowaliśmy</a> tyle, na ile czas pozwalał. W końcu przytuliła nas fundacja <a href="http://epf.org.pl/pl/">ePanstwo </a> w ramach inijatywy <a href="http://kodujdlapolski.pl/"> Koduj Dla Polski </a> , a potrzeba regularnego spotykania się i pracy nad open-source'owym projektem doprowadziła do utworzenia cyklu spotkań <a href="http://www.meetup.com/Koduj-dla-Polski-Warszawa/events/230496493/"> Hacknights.</a>
	</p>


	<div class="single-item-about-us">

		<img class="about-us-photo" src="/img/about_us_michal.jpg"/>
		<br/> <br/> 
		<span style="font-weight: bold;" >Michał Siemiończyk</span> <br/>		
		<span >fullstack dev + leader</span> <br/> <br/>
		<a href="https://pl.linkedin.com/in/siemionczyk" ><img class="social-icon" src="/img/social_linkedin.png"/> </a>
		<a href="https://www.facebook.com/michal.siemionczyk" ><img class="social-icon" src="/img/social_facebook.png"/> </a>
		<a href="https://github.com/siemionides" ><img class="social-icon" src="/img/social_github.png"/> </a>
		<a href="http://www.siemionczyk.eu/" ><img class="social-icon" src="/img/social_web.png"/> </a>
		<a href="https://twitter.com/msiemionczyk" ><img class="social-icon" src="/img/social_twitter.png"/></a>	
	</div>

	<div class="single-item-about-us">
		<img class="about-us-photo" src="/img/about_us_siejas.jpg"/>
		<br/> 	<br/> 
		<span style="font-weight: bold;" >Krzysztof Siejkowski</span> <br/>
		<span >backend dev</span> <br/><br/>
		<a href="https://siejkowski.net" ><img class="social-icon" src="/img/social_web.png"/> </a>
		<a href="https://twitter.com/@_siejkowski " ><img class="social-icon" src="/img/social_twitter.png"/></a>
	</div>


	<div class="single-item-about-us">
		<img class="about-us-photo"  src="/img/about_us_maciej_lis.jpg"/>
		<br/> 	<br/> 
		<span style="font-weight: bold;" >Maciej Lis</span> <br/>
		<span >frontend dev</span> <br/> <br/>
		<a href="https://www.facebook.com/MaciejLisCK" ><img class="social-icon" src="/img/social_facebook.png"/> </a>
		<a href="http://maciejlis.com" ><img class="social-icon" src="/img/social_web.png"/> </a>
	</div>

	<div class="single-item-about-us">
		<img class="about-us-photo"  src="/img/about_us_maciej_lis.jpg"/>
		<br/> 	<br/>
		<span style="font-weight: bold;" >Iryna Nehzynska</span> <br/>
		<span >designer</span> <br/> <br/>
		<a href="https://www.facebook.com/iryna.nezhynska" ><img class="social-icon" src="/img/social_facebook.png"/> </a>
		<a href="https://www.behance.net/eirena" ><img class="social-icon" src="/img/social_behance.png"/> </a>
		<a href="http://www.nezhynska.com/" ><img class="social-icon" src="/img/social_web.png"/> </a>
		<a href="https://dribbble.com/Eirena" ><img class="social-icon" src="/img/social_dribble.png"/> </a>

	</div>
</div>

<div id="how-it-works-view">
	<div class="single-item-about-us">
		<img class="about-us-photo"  src="/img/about_us_maciej_lis.jpg"/>
		<br/> 	<br/> 
		<span style="font-weight: bold;" >Tomasz Guz</span> <br/>
		<span >backend dev</span> <br/> <br/>
		<a href="https://github.com/tgrez/" ><img class="social-icon" src="/img/social_github.png"/> </a>
	</div>

	<div class="single-item-about-us">
		<img class="about-us-photo"  src="/img/about_us_maciej_lis.jpg"/>
		<br/> 	<br/> 
		<span style="font-weight: bold;" >Kamil Dworakowski</span> <br/>
		<span >frontend dev</span> <br/> <br/>
		<a href="https://github.com/luntain" ><img class="social-icon" src="/img/social_github.png"/> </a>

	</div>

	<div class="single-item-about-us">

		<span style="font-weight: bold;" >a także:</span> <br/>
		<span >frontend dev</span> <br/>

	</div>
</div>

