<div id="chartView">
    <h1 class="slogan" ng-show="!search.wasTriggered">
        ŁAP POSŁÓW<br />
        ZA SŁÓWKA
    </h1>
    <div class="search-description">
        Sprawdź na jakie tematy rozmawiali w sejmie polscy posłowie.<br />
        Wpisz maksymalnie pięć interesujących Cię słów do poniższego pola.<br />
        Aby porównać kilka wyrażeń oddziel je przecinkiem.<br />
    </div>
    <div class="displayed-phrases">
        <div class="phrase" ng-repeat="phraseOccurences in graph.phrasesOccurences">
            {{phraseOccurences.name}} <a class="remove-button" ng-click="graph.removePhraseOccurences(phraseOccurences.name)"><img src="/img/tag-close.png" alt="Close tag."></a>
        </div>
    </div>
    <div class="search-bar">
        <tags-input ng-model="search.phrasesService.phrases" replace-spaces-with-dashes="false"></tags-input>
        <div class="button"
             ng-class="search.isInProgress?'button-search-in-progress':''"
             ng-click="search.run()">
          <div ng-switch="search.isInProgress">
            <div class="button spinner" ng-switch-when="true">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
            <span ng-switch-default>SZUKAJ</span>
          </div>
        </div>
    </div>
    <div class="most-popular">
        <div class="description" ng-show="!search.wasTriggered">
            Możesz również wybrać spośród <strong>NAJBARDZIEJ POPULARNYCH</strong>.
        </div>
        <div class="phrases">
            <div class="phrase" ng-click="search.phrasesService.addPhrase(phrase)" ng-repeat="phrase in mostPopularPhrases">
                {{phrase}}
            </div>
        </div>
    </div>
    <div class="chart-wrapper" ng-show="search.wasTriggered">
        <chart-pane id="term-occurences-chart"
                    current-range="graph.selectedRange" graph="graph" width="758" height="400">
        </chart-pane>

      <div id="tooltip" class="" style="left: 0px; top: 0px;">
          <div id="rapperhead">
            <p><span id="party">Party Name</strong></p>
          </div>
          <div id="valuehead">
            <div
              <p><span id="dateOccurence">4,429</span></p>
            </div>

            <div id="valueamount">
              <p><span id="value">4,429</span></p>
            </div>
          </div>
      </div>
        <st-graph-legend id="legend-box" plot-lines="graph.plotLines" graph="graph"></st-graph-legend>
        <chart-pane id="range-filter-chart" current-range="graph.xRange" graph="graph" width="758" height="158">
          <range-selector current-range="graph.selectedRange"></range-selector>
        </chart-pane>
    </div>
</div>
