<div id="chartView">
    <h1 class="slogan" ng-show="!search.wasTriggered">
        ŁAP POSŁÓW<br />
        ZA SŁÓWKA
    </h1>
    <div class="search-description">
        Sprawdź na jakie tematy rozmawiali w sejmie polscy posłowie.<br />
        Wpisz maksymalnie pięć interesujących Cię słów do poniższego pola.<br />
        Aby porównać kilka wyrażeń oddziel je przecinkiem.<br />
    </div>
    <div class="displayed-phrases">
        <div class="phrase" ng-repeat="phraseOccurences in graph.phrasesOccurences">
            {{phraseOccurences.name}} <a class="remove-button" ng-click="graph.removePhraseOccurences(phraseOccurences.name)"><img src="/img/tag-close.png" alt="Close tag."></a>
        </div>
    </div>
    <div class="search-bar">
        <tags-input ng-model="search.phrasesService.phrases" replace-spaces-with-dashes="false"></tags-input>
        <div class="button" ng-click="search.run()">
            <span ng-show="!search.isInProgress">SZUKAJ</span>
            <div class="button spinner" ng-show="search.isInProgress">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
    <div class="most-popular">
        <div class="description" ng-show="!search.wasTriggered">
            Możesz również wybrać spośród <strong>NAJBARDZIEJ POPULARNYCH</strong>.
        </div>
        <div class="phrases">
            <div class="phrase" ng-click="search.phrasesService.addPhrase(phrase)" ng-repeat="phrase in mostPopularPhrases.phrases">
                {{phrase}}
            </div>
        </div>
    </div>
    <div class="chart-wrapper" ng-show="search.wasTriggered">
        <st-graph-legend id="legend-box" plot-lines="graph.plotLines"></st-graph-legend>
        <chart-pane id="term-occurences-chart"
                    current-range="graph.selectedRange" graph="graph" width="758" height="400">
        </chart-pane>
        <chart-pane id="range-filter-chart" current-range="graph.xRange" graph="graph" width="758" height="158">
          <range-selector current-range="graph.selectedRange"></range-selector>
        </chart-pane>
    </div>
</div>
