<div id="how-it-works-view">

	<h1>jak to działa?</h1>


	<div class="single-item">

		<img src="/img/hiw_1_search.png"/>
		<br/> 	<br/> 
		<span>Wpisz w wyszukiwarkę ngram, czyli słowo bądź wyrażenie. Kolejne ngramy możesz oddzielać wciskając klawisz tab na klawiaturze.</span> <br/>
		<span>Dla wygody możesz skorzystać najbardziej popularnych ngramów (wystarczy w nie kliknąć).</span>

	</div>

	<div class="single-item">
		<img src="/img/hiw_2_chat.png"/>
		<br/> 	<br/> 
		<span>Sejmotrendy przeszukają wypowiedzi posłów Sejmu Rzeczpospolitej Polskiej pod kątem występowania wpisanej przez Ciebie frazy w trakcie danych posiedzień i pogrupują je pod względem przynależności partyjnej posła i przedstawią dane w postaci wykresu.</span>
	</div>


	<div class="single-item">
		<img src="/img/hiw_3_analytics.png"/>
		<br/> 	<br/> 
		<span>Wartość na osi pionowej wskazuje jakim procentem wszystkich słów na danym posiedzeniu był wpisany ngram. Na osi poziomej widnieją daty. Domyślnie są to miesiące, dla których agregowane są wystąpienia. Korzystając z kontrolki pod wykresem można zawężać wykres - wówczas daty grupowane są po tygodniach bądź po pojedynczych dniach. </span>
	</div>

	<div class="single-item">
		<img src="/img/hiw_4_share.png"/>
		<br/> 	<br/> 
		<span>Po najechaniu na punkt na linii pokażą się dodatkowe dane, takie jak jej nazwa, dokładna data, procent, bezwzględna ilość wystąpień danego ngramu w danym okresie oraz ilość wszystkich słów w danym okresie. </span>
	</div>
</div>

