<div ng-show="graph.isMultiPhrase">
  <select name="repeatSelect" id="repeatSelect" ng-model="graph.selectedParty">
    <option ng-repeat="partyName in graph.partiesNames" value="{{partyName}}">{{partyName}}</option>
  </select>
</div>
<div>
  <ul>
    <li ng-repeat="plotLine in plotLines">
      <div class="party-wrapper">
        <table>
           <tr>
            <td>
              <div class="party-indicator" ng-style="{'background-color': plotLine.color}"></div>
            </td>
            <td>
              <input class="party-checkbox" type="checkbox" ng-model="plotLine.isVisible"></input>
            </td>
            <td>
              <div class="partyname" ng-class="{'no-data': plotLine.occurences.length == 0}">{{plotLine.label}}</div>
            </td>
          </tr>
        </table>
      </div>
    </li>
  </ul>
</div>
