<div>
    <ul>
        <li ng-repeat="partyName in partiesNames">
            <div class="party-wrapper">
                <table>
                    <tr>
                        <td>
                            <div class="party-indicator" ng-style="{{graphDrawHelper.getPartyColorStyle(partyName)}}"></div>
                        </td>
                        <td>
                            <input class="party-checkbox" type="checkbox" name="vehicle"  ng-model="isChecked" ng-change="checkboxClicked(isChecked, partyName)"/>
                        </td>
                        <td>
                            <div class="partyname">{{partyName}}</div>
                        </td>

                    </tr>
                </table>
            </div>

        </li>
    </ul>
</div>