<div>
    <ul>
        <li ng-repeat="partyName in partiesNames">
            <div class="party-wrapper">
                <table>
                    <tr>
                        <td>
                            <div class="party-indicator"></div>
                        </td>
                        <td>
                            <input class="party-checkbox" type="checkbox" name="vehicle" value="Bike" ng-click="checkboxClicked()"/>
                        </td>
                        <td>
                            <div class="partyname">{{partyName}}</div>
                        </td>

                    </tr>
                </table>


            </div>

        </li>
    </ul>
</div>