
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.domain {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

body {
    font-family: 'Ubuntu', sans-serif;
    }

/* GRID styles*/
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

#graph {
    width: 773px
    height: 547px;
    }

#selectbar {
    width: 773px;
    height: 100px;
    }

