@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #E1E3E4;
}

.main-width {
    width: 1094px;
}

#navigation {
    background-color: #F14949;
}

#navigation .panel {
    margin: 0 auto;
}

#navigation .logo {
    float: left;
}

#navigation .menu {
    float: right;
    color: white;
    font-size: 18px;
    margin-top: 18px;
}

#navigation .menu .separator {
    margin: 0 10px;
}

#main {
    margin: 23px auto 48px;
}

#main .panel {
    width: 800px;
    height:772px;
    background: white;
    border: 1px solid #C8C8C8;
    float: left;
}
#main .panel .top {
    border-bottom: 1px solid #C8C8C8;
    height: 58px;
}

#main .panel .top .input {
    width: 596px;
    border-right: 1px solid #C8C8C8;
    float:left;
    height: 100%;
}

#main .panel .top .input table td {
}

#main .panel .top .input table .icon {
    padding: 18px;
}

#main .panel .top .input table .label {
    color: #F14949;
    padding-right:30px;
}

#main .panel .top .input table .textbox {
}

#main .panel .top .search {
color: white;
background-color: #F14949;
float: right;
line-height: 58px;
width: 203px;
text-align: center;
cursor: pointer;
font-weight: bold;
}


#main .right {
    float: right;
}

#main .right .legend {
    margin-bottom: 35px;
}

#main .right .box {
    width: 276px;
    background-color: white;
    border: 1px solid #C8C8C8;
}

#main .right .box .top {
    text-align:center;
    border-bottom: 1px solid #C8C8C8;
    line-height: 58px;
    font-weight: bold;
    color: #F14949;
}

#main .right .box .items .item{
    text-align: center;
    line-height: 31px;
    font-weight: bold;
    color: #A1A1A1;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
}
#about {
    height: 309px;
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    background-color:white;
}

#inputNgram {
    padding: 5px;
    padding-left: 10px;
    width: 415px;
}

#help {
    border-bottom: 1px solid #C8C8C8;

}

.bottom-panel {
    text-align: center;
    color: #969696;
}

.bottom-panel h1 {
    color: #F14949;
    margin-top: 66px;
    margin-bottom: 46px;
    font-size: 25px;

}

.bottom-panel > div {
    margin: 0 auto;
}

#help .number {
color: #F14949;
font-size: 30px;
font-weight: bold;
}

#help .description {
padding: 12px 46px;
}
.steps td {
width: 361px;vertical-align: top;

}

.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.domain {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

/* GRID styles*/
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

#graph {
    width: 100%;
    height: 574px;
}

#selectbar {
    width: 100%;
    height: 100px;
}


.clear {
    clear:both;
    width: 0;
    height: 0;
}
