.domain {
    fill: none;
    stroke: black;
    stroke-width: 1;
}


/* GRID styles*/
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

#graph {
    width: 100%;
    height: 500px;
    }

#selectbar {
    width: 100%;
    height: 100px;
    }

