
g.party > path {
    fill: none;
    stroke-width: 0px;
    }

g.party > path.visible {
    stroke-width: 1px;
    }

g.party > circle {
    stroke: #ffffff;
    stroke-width: 1px;
    visibility: hidden;
    }

#selectbar > svg > path {
    fill: none;
    stroke: #c8c8c8;
    stroke-width: 1px;
    }
#selectbar > svg > rect.frame {
    fill: none;
    stroke: #CCC;
    stroke-width: 1px;
    } 

#dragl, #dragr {
    fill: #f14949;
    stroke-weight: 1px;
    stroke: #ffffff;
    }

#selectbar rect.cover  {
    stroke: #CCC;
    stroke-width: 1px;
    fill: rgba(241, 73, 73, 0.25);
    }

line.grid {
    stroke: #dddddd;
    stroke-weight: 1px;
    }

g.axis > line {
    stroke:  #968f8f;
    stroke-weight: 1px;
    }

.d3-tip {
    line-height: 1;
    font-weight: normal;
    font-size: 90%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/* hover on screen */
#graph:hover  circle {
    visibility: visible;
}